@import url(./index.css);
@import url(./detail.css);

.list__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 0.5rem;
}

.card {
  display: flex;
  width: 480px;
  height: 220px;
  background: rgb(231, 231, 231);
  margin-left: 1px;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem;
}

.card__figure {
  height: 100%;
  margin: 0;
  padding: 0;
}
.card__figure > img {
  min-width: fit-content;
  height: 100%;
  width: 100%;
}

.card__info__title {
  font-size: 1.312rem;
  display: inline;
  text-align: left;
  margin: 0;
}

.card__info__name {
  font-size: 1.5rem;
  text-align: left;
  display: inline;
  margin: 0;
}

.card__info__status {
  font-size: 1rem;
  margin: 0;
}

.list__more {
  width: 100%;
  padding: 0;
  height: 100px ;
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}