@import url(./index.css);
@import url(./detail.css);

.list__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 0.5rem;
}

.card {
  display: flex;
  width: 480px;
  height: 220px;
  background: rgb(231, 231, 231);
  margin-left: 1px;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem;
}

.card__figure {
  height: 100%;
  margin: 0;
  padding: 0;
}
.card__figure > img {
  min-width: fit-content;
  height: 100%;
  width: 100%;
}

.card__info__title {
  font-size: 1.312rem;
  display: inline;
  text-align: left;
  margin: 0;
}

.card__info__name {
  font-size: 1.5rem;
  text-align: left;
  display: inline;
  margin: 0;
}

.card__info__status {
  font-size: 1rem;
  margin: 0;
}
.list__more--button {
  padding: 1rem;
}

.list__more {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
