<section class="list">
    <section class="list__items">
        <template id="card--template">
            <article class="card">
                <figure class="card__figure">
                    <img>
                </figure>
                <div class="card__info">
                    <h3 class="card__info__name"></h3>
                    <h6 class="card__info__status">-</h6>
                </div>
            </article>
        </template>
        <% characters.forEach(character=> { %>
            <%- include("./Card", {character}) %>
                <% }) %>
    </section>