<header>
    <nav>
        <ul>
            <% links.forEach(link=> { %>
                <li><a class="links" href="<%=link.url%>">
                        <%=link.title%>
                    </a></li>
                <% }) %>
        </ul>
    </nav>
</header>