<section class="random--section">
    <figure class="random--figure">
        <img class="random__img" src="<%= randomImageUrl%>" alt="random image" />
        <figcaption></figcaption>
    </figure>
    <div class="loader loader--random"></div>
</section>