.detail {
  background: white;
  position: absolute;
  display: none;
  width: 50vw;
  height: 80vh;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1000;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* CSS */
.detail__button {
  padding: 1rem 5rem;
  font-size: 1rem;
}

.detail__information {
  height: fit-content;
}

.detail__information--figure > figcaption {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.detail__information--list {
  list-style: none;
  padding: 0;
}

.detail__information--list > li {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.noHover {
  pointer-events: none;
}

.blurry {
  opacity: 0.1;
}

.body--scrolloff {
  overflow: hidden;
}
