<%- include("../components/Layout/UpperLayout", {links, title}); %>
    <main>
        <%- include("../components/RandomImage"); %>
            <section>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
            </section>
            <section>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aspernatur ut beatae culpa et
                ab?
                Tempore mollitia totam dolorum labore distinctio maiores natus delectus dolores corrupti vitae?
                Minima,
                at
                iste?
            </section>
    </main>
    <%- include("../components/Layout/UnderLayout"); %>