<%- include("../components/Layout/UpperLayout", {links, title}); %>
    <main>
        <section class="detail">
            <template id="detail--template">
                <div class="detail__information">
                    <figure class="detail__information--figure">
                        <img>
                        <figcaption></figcaption>
                    </figure>
                    <ul class="detail__information--list">
                        <li>Status: </li>
                        <li>Species: </li>
                        <li>Type: </li>
                        <li>Gender: </li>
                        <li>Origin: </li>
                        <li>Location: </li>
                    </ul>
                </div>
                <button class="detail__button">Close</button>
            </template>
        </section>

        <% include("../components/CardList", {characters}) %>
            <section class="list__more">

                <div class="loader"></div>
            </section>

            </section>

    </main>
    <%- include("../components/Layout/UnderLayout"); %>